//- creating a template

doctype html
html 
    head 
        title SKY Dance Academy
        //- these block values will be replaced by things 
        //- we write in other file under these blocks
        block scripts
        block style
        //- Notes: define separate styling for base.pug, home.pug, ...
    body 
        nav#navbar 
            ul 
                div#logo
                    img(src="/static/images/logo.png", alt="logo")
                    | SDA
                    //- sky dance academy
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class info]
                li #[a(href="/contact") Contact Us]
        block content 
        footer#footer 
            | Copyright &copy; 2022 SKYdanceAcademy.com | All right reserved