extends base.pug
//- using template in base.pug

//- it will put below content in place of block scripts
block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/style.css 

//- just copy paste content from index.pug to here
block content         
    section#introSection 
        div Welcome to SKY's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection 
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.cardBox
                div.cardImg
                    img(src="/static/images/1.jpg", alt="photo 1")
                div.cardContent
                    p This is the best dance academy of the universe
        div.card
            h3 Dance the way you like
            div.cardBox
                div.cardImg
                    img(src="/static/images/2.jpg", alt="photo 2")
                div.cardContent
                    p This is the best dance academy of the universe
        div.card
            h3 Expert Teaching
            div.cardBox
                div.cardImg
                    img(src="/static/images/3.jpg", alt="photo 3")
                div.cardContent
                    p This is the best dance academy of the universe

    section#sponsorsSection 
        h2 Our sponsors
        div#sponsors
            img(src="/static/images/apple.svg", alt="Apple logo" class="spImage")
            img(src="/static/images/google.svg", alt="google logo" class="spImage")
            img(src="/static/images/microsoft.svg", alt="microsoft logo" class="spImage")
            img(src="/static/images/skype.svg", alt="skype logo" class="spImage")



