.agriNews {
    width: 350px;
    border: 1px solid gray;
}

.latestNews:hover {
    text-decoration: underline;
    cursor: pointer;
}

.title, .bodyLogo, .body_section {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    padding: 10px;
}