@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Finlandica', sans-serif;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 20px;
    margin-right: 40px;
}

#logo img {
    height: 37px;
    filter: invert(1);
}

#navbar {
    background-color: black;
    padding: 13px 14px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    padding: 13px 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#navbar li a:hover {
    color: black;
    background-color: white;
    border-radius: 20px;
}

#introSection {
    /* background: center / contain no-repeat url(/static/bg.jpg); */
    background: center / cover no-repeat url(/static/bg.jpg);
    opacity: 0.9;
    height: 272px;
    /* background-color: red; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding-bottom: 40px;
    font-weight: bold;
    color: black;
}

#introSection div.small {
    font-size: 37px;
    padding: 5px;
}

#missionSection {
    height: 292px;
    /* background-color: yellow; */
    text-align: center;
}

#missionSection h2 {
    padding-top: 12px;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    margin: 15px 23px;
    height: 190px;
    display: inline-block;
}

.card h3 {
    margin: 0px 0px;
    margin-top: 15px;
    /* text-align: center; */
}

.cardBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImg {
    height: 131px;
    padding: 0px 6px;
    margin: 10px 12px;
}

.cardImg img {
    height: inherit;
}

.cardContent {
    padding: 0 10px;
}

.cardContent p {
    font-size: 19px;
}

#sponsorsSection {
    height: 110px;
    background-color: rgb(76, 76, 208);
}

#sponsorsSection h2 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 8px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#sponsors {
    height: 67px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spImage {
    height: 70%;
    margin: auto 60px;
}

#footer {
    background-color: black;
    color: white;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: cursive;
}